$color: red;

// 左侧logo高度
$base-menu-logo-height: 50px;

// 左侧logo文字大小
$base-logo-title-fontSize: 18px;

// 左侧菜单宽度
$base-menu-width: 220px;

// 左侧菜单背景颜色
$base-menu-background: #21f344;

// 顶部背景高度
$base-tabbar-height: 50px;
